$--color-primary: #3977fc;
$--color-secondary: #dbebff;

$--color-success: #1ec270;
$--color-danger: #e82222;

$--color-text-primary: #4a4f5d;
$--color-text-regular: #4a4f5d;
$--color-text-secondary: #80838d;
$--color-text-placeholder: #b7b9be;

$--border-color-base: #dce5f1;
$--navigator-border-color: #d2dce9;
$--background-color-base: #f5f6fa;

$--table-stripe-color: #f5f7f9;
$--table-highlight-color: #ebf7ff;

// $--font-path: '~element-ui/lib/theme-chalk/fonts';
// $--icon-color: $--color-primary;

$--header-row-height: 60px;
$--header-subrow-height: 50px;

$--horizontal-section-height: 720px;

$--common-font-size: 14px;
$--font-size-title: 16px;